.card {
    margin: 8px;
    border-radius: 8px;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.02);
    }
}

.divider {
    height: 16px;
    margin: 0;
    border-color: rgba(0,0,0,0.2);
}

.card-description {
    border: 1px solid rgba(0,0,0,0.1);
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 8px 8px 16px 8px;
}

.tooltip-body {
    min-height: auto !important;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 1;
}

.like-btn {
    height: 30px;
    width: 30px;
    padding: 0;
    margin-left: auto;

    &:hover {
        background: initial !important;

        svg {
            color: #f4801a;
        }
    }
}
