.upload {
    :global(.ant-upload-select),
    :global(.ant-upload-list-item-container) {
        width: 150px !important;
        height: 150px !important;
    }

    :global(.ant-upload-list-item-thumbnail) {
        font-size: 14px;
    }

    :global(.ant-upload:not(.ant-upload-select)) {
        display: flex;
        flex-direction: column;
    }
}