.carousel {
    display: flex;
    align-items: center;

    :global(.slick-prev),
    :global(.slick-next) {
        position: initial;
        transform: initial;
    }

    :global(.slick-prev) {
        left: -40px;
    }

    :global(.slick-next) {
        right: -40px;
    }

    :global(.ant-image) {
        width: 100%;
    }
}

.card {
    margin: 8px;
    border-radius: 8px;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.02);
    }
}

.card-description {
    border: 1px solid rgba(0,0,0,0.1);
    border-top: none;
    border-radius: 0 0 8px 8px;
    padding: 8px 8px 16px 8px;
}