.map {
    :global(.property-marker) {
        position: absolute;
        padding: 3px 6px;
        border: 1px solid #F4801A;
        border-radius: 4px;
        background-color: #fff;
        font-weight: bold;
        font-size: 14px;
        color: black;
        text-align: center;
        white-space: nowrap;
        line-height: 1;
        cursor: pointer;

        &:hover {
            border-width: 2px;
        }
    }

    :global(.property-marker--selected) {
        background-color: #F4801A;
        color: #fff;
    }
}

.card-popup {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 350px;
    transform: scale(0.8) translate(-15%, -15%);
    z-index: 1
}