.map {
    position: relative;

    :global(.place-marker) {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border: 1px solid #F4801A;
        border-radius: 50px;
        background-color: #fff;
        font-size: 14px;
        color: #F4801A;
        white-space: nowrap;
        line-height: 1;
    }

    :global(.maplibregl-popup-content.loading:after) {
        content: 'Додавання місця...';
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.8);
        pointer-events: none;
    }
}